@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/custom.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">G6 eChannel</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    @if (Session["isDoctor"] == null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Register <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("RegisterPatient", "User")">Patient</a></li>
                                <li><a href="@Url.Action("RegisterDoctor", "User")">Doctor</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("LoginPatient", "User")">Patient</a></li>
                                <li><a href="@Url.Action("LoginDoctor", "User")">Doctor</a></li>
                            </ul>
                        </li>
                    }
                    @if (Session["isDoctor"] != null)
                    {
                        if ((bool)Session["isDoctor"])
                        {
                             <li>
                                <img style="border:1px solid white" src="@Session["picture"].ToString()" height="48" width="48" />
                            </li>
                            <li>
                                <a href="@Url.Action("Dashboard", "Doctor")">
                                    @Session["username"] (Doctor)
                                </a>
                            </li>
                            <li><a href="@Url.Action("Settings", "Doctor")">Settings</a></li>
                        }
                        else
                        {
                            <li>
                                <img style="border:1px solid white" src="@Session["picture"].ToString()" height="48" width="48" />
                            </li>
                            <li>
                                <a href="@Url.Action("Dashboard", "Patient")">
                                    @Session["username"] (Patient)
                                </a>
                            </li>
                            <li><a href="@Url.Action("Settings", "Patient")">Settings</a></li>
                        }
                        <li><a href="@Url.Action("Logout", "User")">Logout</a></li>
                    }
                </ul>
            </div>

        </div>
    </nav>

    <div class="main">
        @RenderBody()
    </div>



    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom.js")"></script>

</body>
</html>
